extends ../layouts/layout.pug

block content
  main.page-content
    if (categories.length)
      section.categories-list
        h1.visually-hidden Сервис объявлений "Куплю - продам"
        ul.categories-list__wrapper
          each category in categories
            include ../components/category
      section.tickets-list
        h2.visually-hidden Самые новые предложения
        .tickets-list__wrapper
          .tickets-list__header
            p.tickets-list__title Самое свежее
          ul
            each ticket in tickets
              include ../components/ticket
      section.tickets-list
        h2.visually-hidden Самые обсуждаемые предложения
        .tickets-list__wrapper
          .tickets-list__header
            p.tickets-list__title Самые обсуждаемые
          ul
            each ticket in tickets
              include ../components/ticket
    else
      .message
        .message__text
          p На сайте еще не опубликовано ни одного объявления.
        a.message__link.btn.btn--big(href='#') Вход и регистрация
